* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  line-height: 1.5;
  /** -------- Add -------- */
  background-color: #fff;
  width: 1128px;
  margin: 0 auto;
}


/** -------- Reset -------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

input[type=number] {
  -moz-appearance: textfield;
}

/** -------- COMMON STYLES-------- */
.blue-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  display: inline-block;
  padding: 8px 16px;
  background-color: #4e75ff;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blue-button-margin {
  margin-top: 16px;
  margin-bottom: 16px;
}

.blue-button:hover,
.blue-button:focus {
  background-color: #6c8cff;
}

.red-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  display: inline-block;
  padding: 8px 16px;
  background-color: #ff4e4e;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.red-button:hover,
.red-button:focus {
  background-color: #ff7070;
}

.text-base {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/*? -------- Task-1-------- */

#categories {
  width: 392px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
}

.item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.cat-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cat-item {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 16px;
}

/*? -------- Task-2-------- */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  align-items: center;
}

/*? -------- Task-3-------- */
.box {
  width: 360px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #808080;
  outline: none;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.box::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.box:hover,
.box:focus {
  border: 1px solid #000;
}

.box:active {
  border: 1px solid #808080;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/*? -------- Task-4 -------- */

.form-block {
  display: block;
}

.box-margin {
  margin-bottom: 8px;
}

/*? -------- Task-5 -------- */

.text-margin {
  margin-bottom: 16px;
}

/*? -------- Task-6 -------- */
#controls {
  background: #f6f6fe;
  padding: 32px;
  height: 104px;
  margin-bottom: 16px;
}

.custom-box {
  width: 150px;
  appearance: none;
  margin-right: 16px;
}

.custom-button {
  width: 120px;
  margin-right: 16px;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  background: #f6f6fe;
  align-items: top;
}